body {
    font-family: Arial, sans-serif;
    background-color: #4CAF50;
    background-image: url(pexels-photo-2113566.jpeg) ;
    background-size: 100%;
    background-position: center;
    color: #fff;
    text-align: center;
    margin: 0;
}
.container {
    margin: 20px 600px auto;
    padding: 10px;
    background-color: transparent;
    border: 2px solid grey;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
element {
    background: transparent url(logo.png) no-repeat center;
    }
select, input, button {
    margin: 10px;
    width: 70%;
    padding: 10px;
}
button {
    background-color: #419743;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #7ad286;
}
h1{
color: rgb(168, 216, 155);
font-family: Georgia, 'Times New Roman', Times, serif
}
p{
color: rgb(149, 216, 171);
font-family: Georgia, 'Times New Roman', Times, serif
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    background:rgb(23, 30, 26);
}
